*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 980px;
}

body{
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
}

header{
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    height: 71px;
}

.header{
    display: flex;
    height: 100%;
    align-items: center;
}

.but {
    margin-left: 50px;
    background-color: rgba(245, 245, 245, 1);
    display: none;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(229, 229, 229, 1);
    object-fit: cover;
    border-radius: 12px;
}

.button {
    background-color: rgba(252, 0, 74, 1);
    width: 256px;
    height: 36px;
    border-radius: 12px;
    margin-left: 6px;
    margin-right: 174px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button p{
    font-family: Inter;
    font-weight: 400;
    font-size: 14.75px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    margin-left: 12px;    
}

.header ul{
    display: flex;
    align-items: center;
    gap: 7px;
    list-style: none;
}

.header ul li a{
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 15.13px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);    
}

.second h2{
    font-family: Inter;
    font-weight: 400;
    font-size: 32.48px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(38, 38, 38, 1);
    margin-top: 64px;
    margin-bottom: 44px;    
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 61px;
}

.card{
    width: 235px;
    height: 391px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 12px;
}

.card img{
    width: 235px;
    height: 235px;
    border-radius: 12px 12px 0px 0px;
}

.card h5{
    font-family: Inter;
    font-weight: 700;
    font-size: 17.66px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(38, 38, 38, 1);
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 4px;    
}

.card p{
    font-family: Inter;
    font-weight: 500;
    font-size: 18.28px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(252, 0, 74, 1);
    margin-left: 12px;    
}

.card button{
    background-color: rgba(252, 0, 74, 1);
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-left: 183px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    border: 0;    
}

footer{
    height: 70px;
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.footer p{
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);    
}

@media (max-width: 990px) {
    .container{
        width: 920px;
    }
}

@media (max-width: 930px) {
    .container{
        width: 870px;
    }
}

@media (max-width: 880px) {
    .container{
        width: 820px;
    }
}

@media (max-width: 830px) {
    .container{
        width: 760px;
    }

    .button{
        margin-right: 120px;
    }
}

@media (max-width: 770px) {
    .container{
        width: 733px;
    }

    .header img{
        width: 0;
        height: 0;
    }

    .first img{
        height: 230px;
    }
}

@media (max-width: 745px) {
    .container{
        width: 700px;
    }
}

@media (max-width: 712px) {
    .container{
        width: 650px;
    }
}

@media (max-width: 660px) {
    .container{
        width: 590px;
    }

    .button{
        margin-right: 80px;
    }

    .first img{
        height: 200px;
    }
}

@media (max-width: 608px) {
    .container{
        width: 540px;
    }
}

@media (max-width: 550px) {
    .container{
        width: 490px;
    }

    .first img{
        height: 170px;
    }

    .button{
        margin-right: 40px;
    }
}

@media (max-width: 400px) {
    .container{
        width: 360px;
    }

    .header ul li a{
        display: none;
        width: 0;
        height: 0;
    }

    .header ul{
        display: none;
    }

    .first img{
        height: 140px;
    }

    .but{
        display: flex;
    }

    .but img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }

    .card{
        width: 170px;
        height: 313px;
    }

    .card img{
        width: 170px;
        height: 170px;
    }

    .card button{
        margin-left: 126px;
    }
}